<div>
    <div>
    <h1>OAuth Walkthrough</h1>
        <ul start="1">
            <li>
                <p>
                    External partner's call to T-Mobile
                </p>
            </li>
        </ul>
    </div>
    <div>
        <ul start="2">
            <li>
                <p>
                    Any UI that is exposed externally for example: MyTMO &amp;
                    TMO App
                </p>
            </li>
        </ul>
    </div>
    <div>
        <ul start="3">
            <li>
                <p>
                    All APIs on Apigee SaaS or externally exposed from other
                    platforms.
                </p>
            </li>
        </ul>
    </div>
    <br/>
    <div>
        <h2>
            Scenarios Steps for API's with JWT and PoP Implementation
        </h2>
    </div>
    </div>
    
    <div>
    </div>
    
    <div>
    <h3>
        PoP Token Format required by T-Mobile:
    </h3
    </div>
    <code>
        <pre>
Header: {alg, type}

Body {

    iat: &lt;epoch time&gt;
    
    exp: &lt;epoch time&g

    ehts: &lt; authorization; content_type; body; uri&gt; - Headers and fields used by 
    client to create hash.

    edts: &lt;sha2 - hash of values of concatenated above Headers and fields 
    contents passed in "ehts".&gt;

    alg: &lt;if edts is different then sha256&gt;

    tok: &lt;if client wishes to wrap the id_token&gt;

    jti: &lt;unique identifier&gt;

    v: 1

}

Signature: &lt;digitalSignature&gt;
        </pre>
    </code>
    </div>
