<div>
	<div>
	<h1>Overview</h1>
		<div>
			<p>
				The T-Mobile API Access Process (TAAP) is designed to address 
				several limitations and security issues with previous
				approaches of two-way SSL or OAuth 2.0 bearer tokens. TAAP is
				based on OAuth 2.0 but incorporates additional aspects of:
			</p>
		</div>
		<div>
			<ul start="1">
				<li>
					<p>
						OpenID Connect 1.0 (OIDC)
					</p>
				</li>
			</ul>
		</div>
		<div>
			<ul start="2">
				<li>
					<p>
						JSON Web Tokens (JWT)
					</p>
				</li>
			</ul>
		</div>
		<div>
			<ul>
				<li>
					<p>
						Access Token
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div>
		<div>
			<ul>
				<li>
					<p>
						ID Token
					</p>
				</li>
			</ul>
		</div>
		<div>
			<ul start="3">
				<li>
					<p>
						Proof of key Possession (PoP)
					</p>
				</li>
			</ul>
		</div>
		<div><h3></h3></div>
		<div>
			<p>
				With OAuth 2.0, an opaque access token is requested by a client
				from an authorization server and then provided to a resource
				server (REST API). The resource server then asks the
				authorization server if the access token is valid. The access
				token is a bearer token and is placed beside a request as a
				header with nothing binding them together. With TAAP, the
				access token becomes a digitally signed JWT, and includes a PoP
				token which digitally signs the entire request. The result is
				the resource server (REST API) that receives a TAAP request
				which determines whether it has originated from the client who
				possesses the signing key and whether the client has been
				authenticated by the Authorization server. This approach is
				intended to be backwards compatible. That is, a resource server
				that does not understand the full TAAP JWT PoP method can still
				treat the TAAP access token as an OAuth bearer token, even
				though it is a TAAP JWT PoP. The resource server will not
				benefit from the security and performance improvements of TAAP
				but should still be able to function.
			</p>
		</div>
		<br/>
		<div>
			<h3>
				Types of Tokens
			</h3>
		</div>
	</div>
	<div>
		<div>
			<div id="{c43b09d2-8453-4623-a4ef-9179e15db43d}{106}">
			</div>
			<table border="1">
				<tbody>
					<tr>
						<th>
							<div>
								<div>
									<p>
										Token Type
									</p>
								</div>
							</div>
						</th>
						<th>
							<div>
								<div>
									<p>
										Token Description
									</p>
								</div>
							</div>
						</th>
						<th>
							<div>
								<div>
									<p>
										HTTP Header to use
									</p>
								</div>
							</div>
						</th>
						<th>
							<div>
								<div>
									<p>
										Token Validity
									</p>
								</div>
							</div>
						</th>
					</tr>
					<tr>
						<td>
							<div>
								<div>
									<p>
										Access Token
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										The purpose of an Access Token is to
										grant an application access to certain
										resource APIs.
										<br/>
										<br/>
										Access Token Expiration
										<br/>
										<br/>
										Access tokens are valid for a default
										time span of one hour. Expired or
										unauthorized tokens return 401:
										Unauthorized error. If the access token
										expires, the developer must request and
										cache a new access token using the
										token API again.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										Authorization
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										Access Token valid within one
										App/domain
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								<div>
									<p>
										ID Token
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										This token is used to capture
										application user and initiating system
										identity. ID token is primary source of
										reference entitlement data for applying
										data and domain authorization (auth Z)
										rules.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										X-Auth-Originator
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										ID Token is valid across domains/hops
										and received token needs to be
										propagated across
									</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div>
								<div>
									<p>
										PoP Token
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										Using a standard JWT as a bearer token
										for these flows still has the same
										security vulnerabilities as prior
										formats; attackers can still steal them
										or modify transactions. A stolen JWT
										can be used to create new requests.
										With TAAP, T-Mobile uses a Proof of
										Possession Token (PoP Token) to bind
										the access token to the rest of the
										request using a digital signature.
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										X-Authorization
									</p>
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<p>
										Validity of PoP Token is one Hop and
										one Message
									</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
