<div>
    <h1>Sample Request and Response</h1>
    <h2>
        Sample Request and Response for Proxies with JWT and PoP Token
        Generation
    </h2>
    </div>
    <div>
    <h2>
        JWT Token Generation Process
    </h2>
    </div>
    
    
    
    <h3>
        Sample Request
    </h3>
    
    <code>
    <pre>
curl --location --request POST  'https://qat01.api.t-mobile.com/oauth2/v6/tokens'
--header 'Accept: application/json'
--header 'Content-Type: application/json'
--header 'X-Authorization: &lt;PoP_Token&gt;’
--data-raw '{
"storeId": "test",
"dealerCode": "Test23",
"client_id": "&lt;Client_Id&gt;",
"client_secret": "&lt;Client_Secret&gt;",
"scope": "response_mode",
"grant-type": "client_credentials"
}'
    </pre>
    </code>
    <br/>
    <div>
    <h3>
        Sample Response
    </h3>
    </div>
    <code>
    <pre>
{
  "id_token": "&lt;Id_Token",
  "access_token": "&lt;Access_Token&gt;",
  expires_in": 3586, (In seconds)
  "token_type": "Bearer",
  "resource": "&lt;Client_Id&gt;",
  "refresh_token": "",
  "scope": ""
}
    </pre>
    </code>
    <br/>
    <div>
    <h3>
        Sample Request for Functional Call
    </h3>
    </div>
    <code>
    <pre>
curl -X POST Functional Proxy URL;
-H 'Authorization: Bearer &lt;Access_Token&gt;
-H 'X-Authorization: &lt;PoP_Token&gt;
-H 'Accept: application/json';
-H 'Content-Type: application/json';
-d '&lt;Request_Body&gt;
    </pre>
    </code>
    <br/>
    <div>
    </div>